@layout("/common/_container.html"){
<div class="ibox float-e-margins">
    <div class="ibox-title text-right">
        <button class="btn btn-info" onclick="window.history.back();">返回</button>
    </div>
    <div class="ibox-content">
        <div id="orderTrace">
            @for(trace in traces){
            <div data-vtdate="${trace.createtime,'yyyy-MM-dd HH:mm:ss'}">
                ${trace.msg}
            </div>
            @}
        </div>
    </div>
</div>
<script src="${ctxPath}/static/modular/order/order/order_info.js"></script>
<script src="${ctxPath}/static/js/vertical-timeline.min.js"></script>
<script>
    $(document).ready(function () {
        $('#orderTrace').verticalTimeline({
            startLeft: false,
            alternate: true,
            animate: "fade",
            arrows: true
        });
    });
</script>
@}
