@layout("/common/_container.html"){
<div class="ibox float-e-margins">
    <div class="ibox-content">
        <div class="form-horizontal">
            <form method="post" action="/order/add">
                <div class="row">
                    <div class="row">
                        <div class="col-md-12" style="border-bottom: solid 2px green;margin-bottom: 5px">
                            <h3>客户资料信息</h3>
                        </div>
                    </div>
                    <div class="col-sm-6 b-r">
                        <#input id="customname" name="客户名称" underline="true"/>
                        <#input id="wwid" name="旺旺号码" underline="true"/>
                        <#input id="come" name="客户来源" underline="true"/>
                    </div>
                    <div class="col-sm-6">
                        <#input id="mobile" name="联系电话" underline="true"/>
                        <#input id="netid" name="QQ/微信" underline="true"/>
                        <#input id="place" name="客户所在地" underline="true"/>
                    </div>
                    <div class="col-sm-6 text-left">
                        <#input id="address" name="联系地址" underline="true"/>
                    </div>
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-md-12">
                                <textarea id="cuscom" class="form-control" rows="3" name="cuscom" placeholder="输入客户备注"></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12 col-md-12"  style="margin-top:30px;border-bottom: solid 2px green;margin-bottom: 5px">
                            <h3>订购办理业务</h3>
                        </div>
                    </div>
                    <div>
                        @for(bus in busList){
                        <div class="col-md-3 checkbox text-center" style="text-align: left">
                            <label>
                                <input id="buss" type="checkbox" name="buss" value="${bus.bid}" style="margin-top: 2px;">
                                ${bus.businessname}
                            </label>
                        </div>
                        @}
                    </div>
                    <div class="row">
                        <div class="col-sm-12 col-md-12"  style="margin-top:30px;border-bottom: solid 2px green;margin-bottom: 5px">
                            <h3>订单备注信息</h3>
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <div class="row">
                            <div class="col-md-12">
                                <textarea id="ordcom" class="form-control" rows="3" name="ordcom" placeholder="请输入订单备注"></textarea>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row btn-group-m-t">
                    <div class="col-sm-10 text-center">
                        <button class="btn btn-primary btn-large" id="ensure">订单受理</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<script src="${ctxPath}/static/modular/order/order/order_info.js"></script>
@}
