@layout("/common/_container.html"){
<div class="ibox float-e-margins">
    <div class="ibox-content">
        <div class="form-horizontal">

            <div class="row">
                <h3>订单信息</h3>
            </div>
            <div class="row">
                <div class="col-md-1 text-right">订单号:</div>
                <div class="col-md-3 text-left">${workInfo.oid}</div>
                <div class="col-md-1 text-right">创建者:</div>
                <div class="col-md-3 text-left">${workInfo.name}</div>
                <div class="col-md-1 text-right">时间:</div>
                <div class="col-md-3 text-left">${workInfo.createtime}</div>
            </div>
            <div class="row">
                <div class="col-md-1 text-right">备注:</div>
                <div class="col-md-11 text-danger large">${workInfo.comments}</div>
            </div>

            <div class="row">
                <h3>客户信息</h3>
            </div>
            <div class="row">
                <div class="col-md-1 text-right">客户:</div>
                <div class="col-md-3">${workInfo.customname}</div>
                <div class="col-md-1 text-right">业务:</div>
                <div class="col-md-3">${workInfo.businessname}</div>
                <div class="col-md-1 text-right">状态:</div>
                <div class="col-md-3">${workInfo.flowname}</div>
            </div>
            <div class="row">
                <div class="col-md-1 text-right">电话:</div>
                <div class="col-md-3">${workInfo.mobile}</div>
                <div class="col-md-1 text-right">旺旺:</div>
                <div class="col-md-3">${workInfo.wwid}</div>
                <div class="col-md-1 text-right">QQ/微信:</div>
                <div class="col-md-3">${workInfo.netid}</div>
            </div>
            <div class="row">
                <div class="col-md-1 text-right">来源:</div>
                <div class="col-md-3">来源:${workInfo.come}</div>
                <div class="col-md-1 text-right">所在地:</div>
                <div class="col-md-3">${workInfo.place}</div>
                <div class="col-md-4">地址:${workInfo.address}</div>
            </div>
            <div class="row">
                <div class="col-md-1 text-right">备注:</div>
                <div class="col-md-11 text-danger text-left">${workInfo.cuscom}</div>
            </div>

            <div class="row">
                <h4>业务信息</h4>
            </div>
            <form id="propForm" method="post">
                <input id="wid" name="wid" type="hidden" value="${workInfo.wid}" >
                <div class="row">
                    @for(prop in props){
                    <div class="form-group-sm">
                        <label for="${prop.title}" class="col-sm-2 control-label" >${prop.title}</label>
                        <div class="col-sm-4">
                            <input id="${prop.title}" name="${prop.title}" value="${prop.text}" class="form-control" placeholder="">
                        </div>
                    </div>
                    @}
                </div>
            </form>
            <div class="row btn-group-m-t text-center">
                <div class="col-sm-10">
                    <#button btnCss="info" name="保存数据" id="ensure" icon="fa-check" clickFun="WorkInfoDlg.saveInfo()"/>
                </div>
            </div>
        </div>
        <div class="row text-right">
            <h3>请确认数据输入无误进行下步操作!</h3>
            <#button btnCss="warning" name="下一流程!" id="ensure" icon="fa-check" clickFun="WorkInfoDlg.doNext()"/>
        </div>
    </div>
</div>
<script src="${ctxPath}/static/modular/order/work/work_info.js"></script>
@}
