@layout("/common/_container.html"){
<div class="ibox float-e-margins">
    <div class="ibox-content">
        <div class="form-horizontal">

            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>订单号</th>
                        <th>客户</th>
                        <th>业务类型</th>
                        <th>业务状态</th>
                        <th>创建人</th>
                        <th>创建时间</th>
                        <th>操作</th>
                    </tr>
                </thead>
                <tbody>
                    @for(work in myworks){
                        <tr>
                            <td>${work.oid}</td>
                            <td>${work.customname}</td>
                            <td>${work.businessname}</td>
                            <td>${work.flowname}</td>
                            <td>${work.name}</td>
                            <td>${work.createtime}</td>
                            <td><a class="btn btn-info btn-sm" href="/work/work_do/${work.wid}">办理</a></td>
                        </tr>
                    @}
                </tbody>
            </table>

        </div>

    </div>
</div>
<!--<script src="${ctxPath}/static/modular/order/work/work_info.js"></script>-->
@}
