@layout("/common/_container.html"){
<div class="ibox float-e-margins">
    <div class="ibox-title text-right">
        <button class="btn btn-info" onclick="window.history.back();">返回</button>
    </div>
    <div class="ibox-content">
        <div class="form-horizontal">
            <div class="row">
                <h3>订单信息</h3>
            </div>
            <div class="row">
                <div class="col-md-1 text-right">订单号:</div>
                <div class="col-md-3 text-left">${workInfo.oid}</div>
                <div class="col-md-1 text-right">创建者:</div>
                <div class="col-md-3 text-left">${workInfo.name}</div>
                <div class="col-md-1 text-right">时间:</div>
                <div class="col-md-3 text-left">${workInfo.createtime}</div>
                <div class="row">
                    <div class="col-md-1 text-right">用途:</div>
                    <div class="col-md-11 text-left">${workInfo.used}</div>
                </div>
                <div class="row">
                    <div class="col-md-1 text-right">备注:</div>
                    <div class="col-md-11 text-danger large">${workInfo.comments}</div>
                </div>
            </div>


            <div class="row">
                <h3>客户信息</h3>
            </div>
            <div class="row">
                <div class="col-md-1 text-right">客户:</div>
                <div class="col-md-3">${workInfo.customname}</div>
                <div class="col-md-1 text-right">业务:</div>
                <div class="col-md-3">${workInfo.businessname}</div>
                <div class="col-md-1 text-right">状态:</div>
                <div class="col-md-3">${workInfo.flowname}</div>
            </div>
            <div class="row">
                <div class="col-md-1 text-right">淘宝铺:</div>
                <div class="col-md-3 text-left">${workInfo.tbname}</div>
                <div class="col-md-1 text-right">淘宝单:</div>
                <div class="col-md-3 text-left">${workInfo.tbcode}</div>
            </div>
            <div class="row">
                <div class="col-md-1 text-right">电话:</div>
                <div class="col-md-3">${workInfo.mobile}</div>
                <div class="col-md-1 text-right">旺旺:</div>
                <div class="col-md-3">${workInfo.wwid}</div>
                <div class="col-md-1 text-right">QQ微信:</div>
                <div class="col-md-3">${workInfo.netid}</div>
            </div>
            <div class="row">
                <div class="col-md-1 text-right">来源:</div>
                <div class="col-md-3">${workInfo.come}</div>
                <div class="col-md-1 text-right">所在地:</div>
                <div class="col-md-3">${workInfo.place}</div>
                <div class="col-md-1 text-right">地址:</div>
                <div class="col-md-3" style="word-wrap:break-word">${workInfo.address}</div>
            </div>
            <div class="row">
                <div class="col-md-1 text-right">备注:</div>
                <div class="col-md-11 text-danger text-left">${workInfo.cuscom}</div>
            </div>

            <div class="row">
                <h4>业务信息</h4>
            </div>

            <form id="propForm" method="post" class="form-inline">
                <input id="wid" name="wid" type="hidden" value="${workInfo.wid}" >

                <div class="row" style="border-bottom: solid 1px grey;">
                    <div class="col-sm-12">
                        <div class="form-group" style="margin-left: 30px;line-height: 40px;">
                            <label for="price">价格:</label>
                            <input type="number" class="form-control" id="price" value="${workInfo.price}" readonly="true" required>
                            <a id="priceBtn" class="btn btn-warning btn-sm" onclick="WorkInfoDlg.editPrice();">点击修改</a>
                        </div>
                    </div>
                </div>

                <div class="row" style="padding-top: 20px">
                    @for(prop in props){
                    <div class="form-group-sm">
                        <label for="${prop.title}" class="col-sm-2 control-label" >${prop.title}</label>
                        <div class="col-sm-4">
                            <input id="${prop.title}" name="${prop.title}" value="${prop.text}" class="form-control">
                        </div>
                    </div>
                    @}elsefor{
                      <div class="col-sm-12"><h5 style="margin-top: 30px">该业务没有配置其他信息!</h5></div>
                    @}
                </div>
            </form>

            <div class="row btn-group-m-t text-center">
                <div class="col-sm-12 text-right">
                    <button class="btn btn-info" style="margin-top: 15px" onclick="WorkInfoDlg.saveInfo()">保存资料</button>
                </div>
            </div>
        </div>
        <hr>
        <div class="row">



            <div class="col-sm-12" id="wc-old">
                @for(wcom in comList){
                <h4>${wcom.uname}在${wcom.ctime} 备注:${wcom.ctext}</h4>
                @}
            </div>

            <div class="col-sm-10 text-left">
                <textarea id="wc-new" class="form-control" rows="3" placeholder="请输入备注!"></textarea>
            </div>
            <div class="col-sm-2 text-right">
                <button class="btn btn-info" onclick="WorkInfoDlg.saveComment()" style="margin-top: 15px">保存备注</button>
            </div>
        </div>
        <hr>
        <div class="row">

            <div id="smartwizard" class="col-sm-12">
                <ul>
                    @for(flow in flows){
                        <li><a href="#step-1">第${flow.floworder}步<br /><small>${flow.flowname}</small></a></li>
                    @}
                </ul>
            </div>
        </div>

        <div class="row" style="margin-top: 15px">
            @if(tool.isNotEmpty(beforeFlows)){
            <div class="col-sm-3 text-right" >
                <select class="form-control" id="bstep">
                    @for(flow in beforeFlows){
                        <option value="${flow.fid}">${flow.flowname}</option>
                    @}
                </select>
            </div>
            <div class="col-sm-3 text-left"><a class="btn btn-warning" onclick="WorkInfoDlg.doBefore('${workInfo.wid}');" >退回重办</a></div>
            @}

            <div class="col-sm-6 text-right">
                <a class="btn btn-warning" href="/work/next/${workInfo.wid}">下一流程</a>
            </div>
        </div>
    </div>
</div>
<script src="${ctxPath}/static/modular/order/work/work_info.js"></script>
<script src="${ctxPath}/static/js/jquery.smartWizard.min.js"></script>
<script type="text/javascript">
    var curr = '${workInfo.floworder-1}';
    $(document).ready(function(){
        $('#smartwizard').smartWizard(
            {
                'theme': 'dots',
                'selected': curr ,
                'keyNavigation': false,
                'toolbarSettings': {
                    'showNextButton': true,
                    'showPreviousButton': false
                }
            }
        );
    });
</script>
@}
