@layout("/common/_container.html"){
<div class="ibox float-e-margins">
    <div class="ibox-content">
        <div class="form-horizontal" id="custom_info">

            <div class="row"><div class="col-md-12"><h3>客户资料信息</h3></div></div>
            <div class="col-md-5 b-r">
                <#input id="customname" name="客户名称" underline="true" />
                <#input id="mobile" name="联系电话" underline="true" />
                <div class="form-group">
                    <label for="wwid" class="col-sm-3 control-label">旺旺号码</label>
                    <div class="col-sm-9">
                        <input name="wwid" class="form-control" id="wwid" placeholder="">
                    </div>
                </div>
                <div class="hr-line-dashed"></div>
                <div class="form-group">
                    <label for="come" class="col-sm-3 control-label">客户来源</label>
                    <div class="col-sm-9">
                        <input name="come" class="form-control" id="come" placeholder="">
                    </div>
                </div>
                <div class="hr-line-dashed"></div>
                <div class="form-group">
                    <label for="address" class="col-sm-3 control-label">联系地址</label>
                    <div class="col-sm-9">
                        <input name="address" class="form-control" id="address" placeholder="">
                    </div>
                </div>
                <div class="hr-line-dashed"></div>
            </div>
            <div class="col-md-5">
                <#input id="netid" name="QQ/微信" underline="true" />
                <#input id="place" name="客户所在地" underline="true" />
            </div>

            <div class="col-md-12">
                <div class="row">
                    <div class="col-sm-12">
                        <textarea id="cuscom" class="form-control" rows="3" name="cuscom" placeholder="请输入备注"></textarea>
                    </div>
                </div>
            </div>

            <div class="row btn-group-m-t text-center">
                <div class="col-sm-10">
                    <#button btnCss="info" name="提交" id="ensure" icon="fa-check" clickFun="CustomInfoDlg.addSubmit()"/>
                    <#button btnCss="danger" name="取消" id="cancel" icon="fa-eraser" clickFun="CustomInfoDlg.close()"/>
                </div>
            </div>
        </div>

    </div>
</div>
<script src="${ctxPath}/static/modular/order/custom/custom_info.js"></script>
@}
