@layout("/common/_container.html"){
<div class="ibox float-e-margins">
    <div class="ibox-title text-right">
        <button class="btn btn-info" onclick="window.history.back();">返回</button>
    </div>
    <div class="ibox-content">
        <div class="form-horizontal">
            <form method="post" action="/order/add">
                <div class="row">
                    <div class="row">
                        <div class="col-md-12"><h3>客户资料信息</h3></div>
                    </div>

                    <div class="col-sm-6 col-md-6">
                        <div class="form-group">
                            <label for="tbname" class="col-sm-3 control-label">淘宝店名</label>
                            <div class="col-sm-9">
                                <input name="tbname" value="${custom.tbname}" readonly class="form-control" id="tbname">
                            </div>
                        </div>
                        <div class="hr-line-dashed"></div>
                        <div class="form-group">
                            <label for="customname" class="col-sm-3 control-label">客户名称</label>
                            <div class="col-sm-9">
                                <input name="customname" value="${custom.customname}" readonly class="form-control"
                                       id="customname">
                            </div>
                        </div>
                        <div class="hr-line-dashed"></div>
                        <div class="form-group">
                            <label for="wwid" class="col-sm-3 control-label">旺旺号码</label>
                            <div class="col-sm-9">
                                <input name="wwid" value="${custom.wwid}" readonly class="form-control" id="wwid">
                            </div>
                        </div>
                        <div class="hr-line-dashed"></div>
                        <div class="form-group">
                            <label for="come" class="col-sm-3 control-label">客户来源</label>
                            <div class="col-sm-9">
                                <input name="come" value="${custom.come}" readonly class="form-control" id="come">
                            </div>
                        </div>
                        <div class="hr-line-dashed"></div>
                    </div>
                    <div class="col-sm-6 col-md-6">
                        <div class="form-group">
                            <label for="tbcode" class="col-sm-3 control-label">淘宝订单</label>
                            <div class="col-sm-9">
                                <input name="tbcode" value="${custom.tbcode}" readonly class="form-control" id="tbcode">
                            </div>
                        </div>
                        <div class="hr-line-dashed"></div>
                        <div class="form-group">
                            <label for="mobile" class="col-sm-3 control-label">联系电话</label>
                            <div class="col-sm-9">
                                <input name="mobile" value="${custom.mobile}" readonly class="form-control" id="mobile">
                            </div>
                        </div>
                        <div class="hr-line-dashed"></div>
                        <div class="form-group">
                            <label for="netid" class="col-sm-3 control-label">QQ/微信</label>
                            <div class="col-sm-9">
                                <input name="netid" value="${custom.netid}" readonly class="form-control" id="netid">
                            </div>
                        </div>
                        <div class="hr-line-dashed"></div>
                        <div class="form-group">
                            <label for="place" class="col-sm-3 control-label">客户所在地</label>
                            <div class="col-sm-9">
                                <input name="place" value="${custom.place}" readonly class="form-control" id="place">
                            </div>
                        </div>
                        <div class="hr-line-dashed"></div>
                    </div>

                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-md-12">
                                <textarea id="cuscom" readonly class="form-control" rows="3" name="cuscom">
                                    ${custom.cuscom}
                                </textarea>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12"><h3>订购办理业务</h3></div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <#input id="used" name="订单用途" underline="true"/>
                        </div>
                    </div>
                    <div class="form-group container" style="padding: 20px;margin: 20px 5px;">
                        @for(bus in busList){
                        <div class="col-md-6 checkbox text-center" style="text-align: left">
                            <input id="buss" type="checkbox" name="buss" value="${bus.bid}" style="margin-top: 2px;">
                            ${bus.businessname}［${bus.busprice}元］
                        </div>
                        @}
                    </div>

                    <div class="row">
                        <div class="col-md-1 text-center">订单备注</div>
                        <div class="col-md-10">
                            <textarea id="ordcom" class="form-control" rows="3" name="ordcom"></textarea>
                        </div>
                    </div>
                </div>
                <div class="row btn-group-m-t">
                    <div class="col-sm-10 text-center">
                        <button class="btn btn-primary " type="submit">受理</button>
                    </div>
                </div>

        </div>

    </div>
</div>
<script src="${ctxPath}/static/modular/order/order/order_info.js"></script>
@}
