@layout("/common/_container.html"){
<div class="row">
    <div class="col-sm-12">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>业务状态管理</h5>
            </div>
            <div class="ibox-content">
                <div class="row row-lg">
                    <div class="col-sm-12">
                        <div class="row">
                            <div class="page-header">
                                <h1>当前编辑：<b>${business.businessname}</b>，业务状态流程</h1>
                                <input id="bid" type="hidden" value="${business.bid}" >
                            </div>
                        </div>
                        <div class="hidden-xs" id="FlowTableToolbar" role="group">
                            @if(shiro.hasPermission("/flow")){
                                <#button name="添加" icon="fa-plus" clickFun="FlowState.openAddFlow()" space="true"/>
                            @}
                            @if(shiro.hasPermission("/flow")){
                                <#button name="修改" icon="fa-plus" clickFun="FlowState.openFlowDetail()" space="true"/>
                            @}
                            @if(shiro.hasPermission("/flow")){
                                <#button name="删除" icon="fa-plus" clickFun="FlowState.delete()" space="true"/>
                            @}

                        </div>
                        <#table id="FlowStateTable"/>
                    </div>
                </div>
            </div>
            </div>
        </div>
    </div>
</div>
<script src="${ctxPath}/static/modular/business/flow/flowstate.js"></script>
@}
